# Main libraries
streamlit
pandas
plotly
nltk
transformers
textblob
nrclex
xgboost
tensorflow
torch

# Additional dependencies
absl-py  
altair  
anyio  
argon2-cffi  
arrow  
asttokens  
async-lru  
attrs  
bleach  
cachetools  
certifi  
cffi  
charset-normalizer  
click  
colorama  
debugpy  
decorator  
defusedxml  
filelock  
Flask  
fsspec  
gast  
google-pasta  
grpcio  
h5py  
httpx  
huggingface-hub  
idna  
ipykernel  
ipython  
ipywidgets  
jedi  
Jinja2  
joblib  
jsonschema  
jupyter  
jupyter_client  
jupyter_core  
jupyterlab  
keras  
Markdown  
matplotlib  
numpy  
protobuf  
pyarrow  
PyYAML  
regex  
requests  
rich  
scikit-learn  
scipy  
seaborn  
textblob  
vaderSentiment  
